{% extends 'base.html' %}


{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
            <h1 class="display-4">The Cat API</h1>
            <p class="display-5"> Me and my cat in the photo!!!</p>
       
            <div class="row">
                <div class="col-xs-3">
                    <a href="#" class="img-thumbnail">
                    <img src="https://i.pinimg.com/564x/42/8b/9e/428b9eca193b8fd0f53278681e14975c.jpg" width="600px">
                    </a>
                </div>
            </div>
    </div>    
</div>
{% endblock %}
