{% extends 'base.html' %}


{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
            <h1 class="display-5">Sunglasses</h1>
         
            <div class="row">
                <div class="col-xs-3">
                    <a href="#" class="img-thumbnail">
                    <img src="https://cdn2.thecatapi.com/images/a2.jpg" width="350px">
                    </a>
                </div>
            
                <div class="col-xs-3">
                    <a href="#" class="img-thumbnail">
                    <img src="https://cdn2.thecatapi.com/images/au.jpg" width="350px">
                    </a>
                </div>

                <div class="col-xs-4">
                    <a href="#" class="img-thumbnail">
                    <img src="https://cdn2.thecatapi.com/images/as.jpg" width="350px">
                    </a>
                </div>
                
            </div>
        

    </div>    
</div>
{% endblock %}